<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Moyuan Huang</h1>
		<p>I love basketball, especially LAC with CP3.</p>
    <p>I love Micaela.</p>
	</div>
</div>
